h1,h2,h3,h4,h5{
  font-family: Monaco, Consolas, Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #E8E8E8!important;
}
blockquote{
  border-left: 2px solid #b82525;
  
}
p{
  color: #abb2bf;
  margin-bottom: 10px!important;
}
blockquote>p{
  color: #3d96e9;
  /* color: #bc78cd; */
  padding-left: 8px!important;
  font-size: 14px;
  margin-top: 7px!important;
  margin-bottom: 7px!important;
  background: rgba(0,0,0,.2);
  height: 28px;
  line-height: 28px;
  font-family: Monaco, Consolas, Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
pre{
  background: #21252b;
  /* background: rgba(0,0,0,.2); */
  border-radius: 4px;
  padding: 7px 7px;
  box-sizing: border-box;
  font-family: Monaco, Consolas, Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px!important;
}