$width:1050px;
$margin-auto: 0 auto;
$margin-all: 14px;
$font-color: #42b983;
$C1C1C: #1C1C1C;
$black: #000000;
$hover-bg: background-color 0.25s linear, color 0.05s linear,
margin 0.25s linear, opacity 0.25s linear, filter 0.25s linear,
visibility 0.25s linear, transform 0.25s linear;
$img-rotate:transform .25s linear,-webkit-filter .25s linear,-webkit-transform .25s linear;
$iconfont-size: 12.6px;
$blog-list-meta-font-color: white;
$blog-list-meta-font-opacity: 0.8;
$blog-list-meta-font-size: 12.6px;
